
.first {
	background-color: lightblue;
	padding: 10% 20%;
}

.next {
	background-color: lightgreen;
	padding: 5% 10%;
}

 .nice {
 	padding: 8% 18%;
 	background-color: tan;
 }
 
  .yes {
  	padding: 8% 18%;
 	background-color: red;
  }

  .triple {
  	background-color: lightblue;
  	padding: 4%;
  }

  




