
.first {
	background-color: lightblue;
	padding: 10% 20%;
}

.next {
	background-color: lightgreen;
	padding: 5% 10%;
}

 .nice {
 	padding: 8% 18%;
 	background-color: tan;
 }
 
  .yes {
  	padding: 8% 18%;
 	background-color: red;
 	margin: 0;
  }

  .triple {
  	background-color: lightblue;
  	padding: 1px 0px;
    }

.pic {
	background-image: url(https://th.bing.com/th/id/OIP.i2sBo_4qu3NExP5L6Ee9CwHaE7?pid=ImgDet&rs=1>);
    background-position: center;
    color: white;
    font-weight: bold
    font-size: 25px;
    padding: 10%;
   




